<h1>CreditorWatch Pracs</h1>
<h2><%= link_to "Challenge 1.", index_challenge1_path %></h2>
<p>A user enters a string and you must return the string in reversed order to the user.</p>

<h2><%= link_to "Challenge 2.", index_challenge2_path %></h2>
<p>Insert dashes (‘-‘) between each two odd numbers in the number entered by a user. For example: if the number is 454793 the output should be 4547-9-3. Don’t count zero as an odd number.</p>

<h2><%= link_to "Challenge 3.", index_challenge3_path %></h2>
<p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry’s standard dummy text ever since the 1500s. Build a replacement for lorem ipsum that is dynamic and more interesting.</p>